
$title-font: 'Open Sans',sans-serif;

$section-padding-bottom: 20px;

@mixin build-catagory($margin) {
    padding-bottom: 9px;
    margin: $margin;
    border-bottom: 1px solid #eee;
}


body {
    font-family: $title-font;
    padding-top: 10px;
}


.name{
    margin-top: 20px; 
    font-size: 3em;
    font-weight: 700;
    line-height: 40px;
}

.location {
    font-size: 1.5em;
    margin-top: 10px;
    margin-bottom: 20px;
}


#contact,#projects,#skills {
    padding-bottom: $section-padding-bottom;

}


#contact {
    margin-top: 30px;
}

.job {
    padding-bottom: 20px;
    padding-top: 10px;
}

.job-desc {
    font-size: 15px;
    padding-top: 1px;
}

#skills {
    font-size: 14px;

    .skill-list {
        padding-bottom: $section-padding-bottom;
    }

}



.edu {
    padding-bottom: $section-padding-bottom;
}

 

.catagory { @include build-catagory(25px 0 10px); }

.catagory-side  { @include build-catagory(5px 0 20px); }

@import 'small';

@import 'print';