@media print {
    body {
        width: 1050px!important;
        margin-top: 0!important;
    }

    div[class|=col-] {
        float: left!important;
    }

    .col-md-3 {
        width: 33%!important;
        padding: 0!important;
        display: inline-block;
        vertical-align: top;
    }

    .col-md-9 {
        width: 66%!important;
        display: inline-block;
    }

    .col-md-4,.col-md-8 {
        width: 50%;
    }

    .name {
        margin-top: 28px!important;
        font-size: 2.2em!important;
        font-weight: 700!important;
        line-height: 16px!important;
    }

    .location {
        font-size: 1.1em!important;
    }

    .text-muted {
        color: #999;
    }

    small {
        font-size: 80%;
    }

    u {
        text-decoration: none;
    }

    .no-print {
        display: none;
    };
}