@media(min-width:769px) {

    body {
        padding-top: 20px;
    }

    .name {
        font-size: 2.3em;
        font-weight: 700;
        line-height: 30px;
    }

    .location {
        font-size: 1em;
    };

}
