<span class="fa fa-envelope-o"></span>
<a href="mailto:Robert.Punnett@Outlook.com" new-window>Email</a>
<br>
<span class="fa fa-globe"></span>
<a href="http://www.robertpunnett.com" new-window>Website</a>
<br>
<span class="fa fa-linkedin"></span>
<a href="https://www.linkedin.com/in/punnettr" new-window>LinkedIn</a>
<br>
<span class="fa  fa-github"></span>
<a href="https://github.com/rpunnett" new-window>Github</a>
<br>
<span class="fa fa-stack-overflow"></span>
<a href="https://stackoverflow.com/users/3279468/robert" new-window>StackExchange</a>

<br>
