<span class="fa fa-envelope-o"></span>
<a href="mailto:Robert.Punnett@Outlook.com">Email</a>
<br>
<span class="fa fa-globe"></span>
<a href="http://www.robertpunnett.com">Website</a>
<br>
<span class="fa fa-linkedin"></span>
<a href="https://www.linkedin.com/in/punnettr">LinkedIn</a>
<br>
<span class="fa  fa-github"></span>
<a href="https://github.com/rpunnett">Github</a>
<br>
<span class="fa fa-stack-overflow"></span>
<a href="https://stackoverflow.com/users/3279468/robert">StackExchange</a>

<br>
