<div id="projects">
    <!-- Impoirt GithubObject Here-->
    <h4 class="cat-side">
        <span class="fa fa-github "></span>&nbsp;
    </h4>
    <p>
        <strong><a ng-href="https://github.com/rpunnett/extract_imgur">extract_imgur</a><br></strong>
        <small class="subText">PHP</small>
    </p>
    <p class="skill-list">A small class to extract image links from imgur URLS in PHP.
    </p>
    <p>
        <strong><a ng-href="https://github.com/rpunnett/basic_linux_kernel">basic_linux_kernel</a><br></strong>
        <small class="subText">C, Assembly, Shell</small>
    </p>
    <p class="skill-list">A small linux kernel that prints a string to console.
    </p>
    <p>
        <strong><a ng-href="https://github.com/rpunnett/tango_with_django_project">tango_with_django_project</a><br></strong>
        <small style="color:#999">Python, Shell</small>
    </p>
    <p class="skill-list">Django project from www.tangowithdjango.com
    </p>
</div>