<div id="skills">
    <!-- Import Skills Here-->
    <h4 class="catagory-side">
        <span class="fa fa-wrench"></span>
        <span class="pull-right">Skills</span>
    </h4>
    <p>
        <strong>Web</strong>
    </p>
    <p class="skill-list">PHP, JavaScript, jQuery, SQL</p>
    <p>
        <strong>Frameworks</strong>
    </p>
    <p class="skill-list">Laravel, AngularJS</p>
    <p>
        <strong>Langauges</strong>
    </p>
    <p class="skill-list">C#</p>
   <!-- <p>
        <strong>Database</strong>
    </p>
    <p class="skill-list">MySQL, MS SQL, Postgres, MongoDB</p>
      <p>
      <strong>MISC</strong>
    </p>
    <p class="skill-list">WPF, AMQP/RabbitMQ, SOAP, XML/JSON</p> -->
    <p>
        <strong>Script</strong>
    </p>
    <p class="skill-list">PowerShell, Batch, Visual Basic, Bash</p>
    <p>
        <strong>OS</strong>
    </p>
    <p class="skill-list">Windows, Ubuntu, Red Hat Enterprise</p>
</div>
