<div id="skills">
    <!-- Import Skills Here-->
    <h4 class="catagory-side">
        <span class="fa fa-wrench"></span>
        <span class="pull-right">Skills</span>
    </h4>
    <p>
        <strong>Web</strong>
    </p>
    <p class="skill-list">jQuery, JavaScript, SQL, PHP, .Net</p>
    <p>
        <strong>Frameworks</strong>
    </p>
    <p class="skill-list">Laravel, Angular, .Net MVC5</p>
    <p>
        <strong>Langauges</strong>
    </p>
    <p class="skill-list">C#</p>
    <p>
        <strong>Script</strong>
    </p>
    <p class="skill-list">Bash, Batch, PowerShell, Python, VB</p>
</div>
